.sustainability {
  width: 1636px;
  margin: 0 auto;
}
.sustainability .tab-head {
  text-align: center;
}
.sustainability .tab-body h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 60px;
}
.sustainability .tab-body span {
  color: #8DC63F;
}
.sustainability .sb-01 {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 60px;
}
.sustainability .sb-01 b {
  font-size: 30px;
}
.sustainability .sb-01 p {
  font-size: 25px;
}
.sustainability ul li {
  display: flex;
  align-items: center;
  padding: 40px 70px;
  background-color: #F8F8F8;
  width: 1140px;
  margin: 10px;
}
.sustainability ul .bc {
  background-color: #f0f0f0;
}
.sustainability ul .bc-1 {
  background-color: #f0f0f0;
}