@font-face {
  font-family: "money";
  src: url("../srcs/fonts/Moneygraphy-Rounded.ttf") format("truetype");
}
@font-face {
  font-family: "nanum-regular";
  src: url("../srcs/fonts/NanumGothic.ttf") format("truetype");
}
@font-face {
  font-family: "nanum-bold";
  src: url("../srcs/fonts/NanumGothicBold.ttf") format("truetype");
}
@font-face {
  font-family: "nanum-extrabold";
  src: url("../srcs/fonts/NanumGothicExtraBold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

body {
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-family: "nanum-regular";
  letter-spacing: -1px;
  word-break: keep-all;
}

h1, h2, h3, h4, h5, p, figure {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea {
  border: 0;
}

::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

:root {
  --color-white: #F9F9F9;
  --color-gray: #F0F0F0;
  --color-black: #3C3C3C;
  --color-green1: #8CC63E;
  --color-green2: #B7D47F;
  --color-green3: #DCEFB7;
}

.main-title {
  margin: 50px 142px 90px;
  overflow: hidden;
  position: relative;
  font-family: "money";
  font-size: 1.6rem;
}
.main-title b {
  display: inline-block;
  background-color: white;
  position: relative;
  z-index: 2;
  padding-right: 20px;
}

.main-title::after {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  border-bottom: 1px solid var(--color-black);
}

.tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "money";
  font-size: 1.1rem;
}
.tab-list li {
  padding: 15px 40px;
  border-radius: 85px;
  border: 1px solid #ddd;
  transition: 0.5s;
}

.main-tab-menu .tab-list li:hover,
.main-tab-menu .tab-list li.active {
  background-color: var(--color-green1);
  color: var(--color-white);
}

.sustainability {
  width: 1636px;
  margin: 0 auto;
}

.tab-head {
  text-align: center;
}

.tab-body h2 {
  text-align: center;
  font-size: 50px;
  padding-top: 90px;
  letter-spacing: -2px;
}
.tab-body span {
  color: #8DC63F;
}
.tab-body .sb-01 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}
.tab-body .sb-01 b {
  font-size: 30px;
  color: #8DC63F;
  line-height: 5;
}
.tab-body .sb-01 p {
  font-size: 20px;
  line-height: 1.6;
}
.tab-body .sb-01 p span {
  font-size: 25px;
}

.tab-con-01 ul {
  font-size: 20px;
}
.tab-con-01 ul li {
  display: flex;
  align-items: center;
  padding: 40px 70px;
  background-color: #F8F8F8;
  width: 1140px;
  margin: 10px auto;
}
.tab-con-01 ul li b {
  width: 20%;
}
.tab-con-01 ul li div p {
  display: flex;
}
.tab-con-01 ul li div p::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 100%;
  margin: 10px 10px 0 0;
}
.tab-con-01 ul .bc {
  background-color: #f0f0f0;
}
.tab-con-01 ul .bc-1 {
  background-color: #f0f0f0;
}

.tab-con-02 .pic {
  width: 100%;
  padding: 70px;
  background-color: #F9F9F9;
  text-align: center;
  border-radius: 46px;
}
.tab-con-02 .esg {
  border-bottom: 1px solid #ddd;
}
.tab-con-02 .esg li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.tab-con-02 .esg li > figure {
  width: 47%;
}
.tab-con-02 .esg li > figure img {
  width: 100%;
}
.tab-con-02 .esg li .info {
  width: 47%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.tab-con-02 .esg li .info div {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 10px 0px;
}
.tab-con-02 .esg li .info div strong {
  display: block;
  margin-bottom: 20px;
}
.tab-con-02 .esg li:nth-of-type(2n) {
  flex-direction: row-reverse;
}
.tab-con-02 .sb-03 {
  padding-top: 120px;
  text-align: center;
}
.tab-con-02 .sb-03 b {
  font-size: 30px;
  color: var(--color-green1);
}
.tab-con-02 .sb-03 p {
  font-size: 20px;
  padding: 40px 0 60px;
}
.tab-con-02 .sb-03 figure {
  width: 100%;
  padding: 150px 70px;
  background-color: #F9F9F9;
  text-align: center;
  border-radius: 46px;
}
.tab-con-02 .sb-03 figure img {
  border-radius: 46px;
}

.tab-con-03 .susang li {
  width: 1320px;
  margin: 0 auto;
}
.tab-con-03 .susang li .info-2 {
  display: flex;
  gap: 150px;
  align-items: center;
}
.tab-con-03 .susang li .info-2 strong {
  font-size: 25px;
  display: block;
}
.tab-con-03 .susang li .info-3 {
  display: flex;
  flex-direction: row-reverse;
  gap: 150px;
  align-items: center;
}
.tab-con-03 .susang li .info-3 strong {
  font-size: 25px;
  display: block;
}
.tab-con-03 .susang li .info-4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 150px;
}
.tab-con-03 .susang li .info-4 strong {
  font-size: 25px;
  display: block;
}
.tab-con-03 .susang li p {
  font-size: 30px;
}