@media (min-width:1024px) and (max-width:1700px){
    body{
        word-break: keep-all;
    }
    article{
        // 3-2. 바른먹거리 캠페인
        .food-campaign{
            ul{background-position: 0;}
            li{
                width: 55%;
                display: block;

                &::after{
                    transform: translate(-30%, -90%);
                }
            }
        }
        .campaign-content-right{
            margin-top: 50px;
        }
    
        // 3-3. 식품안전 및 품질정책
        .food-safety-2{
            .safety-content-right{
                width: 95%;
            }
        }
    }
    
    //popup
    .popup{
        .popup-cont{
            .button{margin-bottom: 50px;}
        }
    }
}


@media (max-width:1024px){
    // tablet
    main{
        font-size: 15px;
        word-break: keep-all;
        line-height: 135%;
    }
    // 좌우 여백 조정(full width contents 제외)
    h2, h3, .tab-list, .food-safety-1, .line{
        margin: 0 50px;
    }
    h2{
        // 위에 h2 좌우 margin 설정한 거 때문에 margin-bottom pc와 같은 값이어도 지우지 말기.
        font-size: 1rem; margin-bottom: 60px;
    }
    h3{
        margin-bottom: 60px;
        font-size: 1.75rem; line-height: 1.5;
        > br{display: none;}
    }
    // button
    .button{
        font-size: 0.8rem;
        border: 2px solid var(--color-green2);
        border-radius: 30px;
        padding: 20px 30px;
    }
    // title
    .main-title{
        margin: 30px 50px;
        font-size: 1.2rem;
        line-height: 2;
    }
    // tab
    .tab-list{
        font-size: 0.7rem;
        li{
            padding: 15px 25px;
            border-radius: 30px;
        }
    }
    .line{
        margin-top: 100px;
    }
    
    article{
        // 3-1. 바른먹거리 원칙
        .food-main{
            .food-main-bg{
                height: auto;
                position: static;
                background-position: center bottom;
                p{
                    font-size: 0.9rem;
                    padding: 50px 0;
                }
                span{
                    width: 100%;
                    padding: 30px 60px 0;
                    position: static;
                    transform: translate(0, 0);
                }
            }
        }

        .food-rule{
            width: 85%;
            padding: 50px;
            border-radius: 30px;
            > p{font-size: 0.9rem;}
            > span{font-size: 0.5rem;}
            > div{
                display: block;
                margin-top: 0;
    
                figure{
                    border-radius: 30px;
                    width: 100%;
                    height: 30%;
                    padding: 40px 20px;
                    margin: 30px 0;

                    > p{
                        width: 100px; height: auto;
                        margin: 0 auto;
                        img{width: 100%;}
                    }
                    > figcaption{
                        p{font-size: 0.9rem; margin: 15px 0 10px;}
                        span{
                            font-size: 0.75rem;
                            > br{display: none;}
                        }
                    } 
                    > span{font-size: 0.5rem;}

                    // hover
                    &::before{
                        border-radius: 30px;
                    }
                    &::after{
                        font-size: 1.2rem;
                        transform: translate(-30%, -150%);
                    }
                }
            }
            > b{
                font-size: 0.9rem;
                letter-spacing: 0.15rem;
                text-align: center;
                margin: 0;
            }
            // Add Charactor imgs
            &::before{
                background-size: cover;
                width: 239px; height: 54px;
            }
            &::after{
                background-size: cover;
                width: 162px; height: 151px;
            }
        }
        .food-record{
            span{font-size: 0.85rem;}
            p{
                margin: 60px 0;
                width: 100%; height: auto;
            }
            div:nth-of-type(1){margin-bottom: 45px;}
        }
    
        // 3-2. 바른먹거리 캠페인
        .food-campaign{
            > p{width: 162px;}
            ul{
                width: 100%; height: auto;
                background-size: contain;
                padding: 60px 0;
                margin-top: 60px;
            }
            li{
                margin: 50px auto;
                padding: 40px;
                width: 85%;
                display: block;
                border-radius: 30px;

                // hover
                &::before{
                    border-radius: 30px;
                }
                &::after{
                    right: 5%; bottom: 5%;
                    transform: translate(-5%, -5%);
                    font-size: 1.2rem;
                }
            }
        }
        .food-content-left{
            width: 100%;
                img{border-radius: 30px;}
        }
        .campaign-content-right{
            width: 100%;
            margin-left: 0;
            margin-top: 25px;
            b{font-size: 1.2rem;}
            p{
                font-size: 0.8rem;
                margin: 15px 0;
            }
            .name{
                width: 97px;
                padding-right: 10px;
            }
            .etarget{
                > img{
                    width: 17px; height: 17px;
                }
            }
            .econtent{
                margin-right: 7px;
                > img{
                    width: 15px; height: 15px;
                    margin-left: 1px;
                }
            }
        }
    
        // 3-3. 식품안전 및 품질정책
        .food-safety-1{
            .food-safety-figure{
                margin-top: 60px;
                figure > p{
                    width: 130px;
                    margin: 0 auto;
                    img{width: 100%;}
                }
                figcaption > p{
                    font-size: 1rem;
                    margin: 15px 0;
                }
            }
        }
        .food-safety-2{
            .safety-tab-menu{
                margin: 0 0 60px;
            }
            .safety-tab-content{
                span{
                    display: inline-block; margin: 0 50px;
                    line-height: 170%;
                }
                li{
                    margin: 120px 50px 0;
                    display: block;

                    &:nth-of-type(2){
                        .safety-content-right{
                            margin: 50px 30px 30px auto;
                        }
                    }
                }
            }
            .safety-content-right{
                width: 90%;
                margin: 50px auto 30px 30px;
                strong{
                    font-size: 1.2rem;
                }
                p{
                    font-size: 0.8rem;
                    margin-top: 15px;
                }
                span{display: block; margin: 20px 0 0;}
            }
        }
    }
    
    //popup
    .popup{
        display: block;
        p{
            width: 100%; height: 60%;
            > img{
                border-radius: 20px;
            }
        } 
        .popup-cont{
            width: 100%; height: auto;
            margin-left: 0;
            margin-top: 40px;
            h4{font-size: 1rem;}
            span{
                margin: 20px 0;
                > br{display: none;}
            }
            .button{margin-top: 25px;}
        }
        .popup-close-btn{
            top: 3%;
            transform: translate(-2%, -3%);
            font-size: 1.8rem;
        }
    }
    .record-popup-box1 .popup{
        padding: 50px 10px;
        p {
            img{height: auto;}
        }
    }
}


// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// ------mobile--------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// ------반응형 작업----------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------

@media (max-width:480px) {
    // mobile
    h2, h3, .tab-list, .food-safety-1, .line{
        width: auto; margin: 0 25px;
    }
    h2{
        margin-bottom: 60px;
    }
    h3{
        margin-bottom: 60px;
        font-size: 1.5rem;
    }
    // title
    .main-title-img{
        height: 200px;
    }
    .main-title{
        margin: 30px 25px;
        font-size: 1rem;
        b{
            padding-right: 0;
        }
    }
    .main-title::after{
        display: none;
    }
    // tab
    .main-tab-menu{
        overflow-x: auto;
        margin: 0 25px;
        &::-webkit-scrollbar{display: none;}
    }
    .tab-list{
        gap: 10px;
        font-size: 0.6rem;
        line-height: 1;

        justify-content: start;
        margin: 0;
        padding-bottom: 10px;
        li{
            white-space: nowrap;
        }
    }
    .line{
        margin-top: 100px;
    }
    
    article{
        // 3-1. 바른먹거리 원칙
        .food-main{
            .food-main-bg{
                p{padding: 50px 25px;}
                span{
                    padding: 30px 25px 0;
                }
            }
        }
        .food-rule{
            padding: 50px 25px;
            > div{
                figure{
                    > p{width: 75px;}

                    // hover
                    &::before{
                        display: none;
                    }
                    &::after{
                        display: none;
                    }
                    &:hover::before, &:hover::after{
                        opacity: 0;
                    }
                }
            }
            > b{
                margin: 0 0 80px;
            }
            // Add Charactor imgs
            &::before{
                width: 200px; height: 45px;
                transform: translate(18%, -90%);
            }
            &::after{
                transform: translate(15%, 15%);
            }
        }
        .food-record{
            p{margin: 30px 0;}
        }
    
        // 3-2. 바른먹거리 캠페인
        .food-campaign{
            > span{
                display: inline-block;
                margin: 0 50px;
            }
            ul{
                padding: 40px 0;
                margin-top: 40px;
            }
            li{
                padding: 0;
                margin: 60px auto;
                // hover
                &::before{
                    display: none;
                }
                &::after{
                    content: '↓ 클릭하여 신청하기';
                    left: 0; top: 0; right: 0; bottom: 0;
                    transform: translate(0, -5%);
                    font-size: 0.75rem;
                    color: var(--color-gray-food);
                    opacity: 1;
                }
            }
            td{
                display: block;
            }
            tr{
                &:nth-of-type(1){
                    td:nth-of-type(2){margin-bottom: 10px;}
                }
            }
        }
        .food-content-left{
            img{
                border-radius: 30px 30px 0 0;
            }
        }
        .campaign-content-right{
            margin-top: 0;
            padding: 25px;
        }
    
        // 3-3. 식품안전 및 품질정책
        .food-safety-1{
            .food-safety-figure{
                margin-top: 30px;
                display: block;
                
                figure{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 0;
                    > p{
                        width: 105px;
                    }
                    > figcaption{width: 60%;}
                }    
            }
            // 반응형 구분선 추가
            .food-safety-figure figure:nth-of-type(1),
            .food-safety-figure figure:nth-of-type(2){
                border-bottom: 1px solid var(--color-gray-food);
            }
        }
        .food-safety-2{
            .safety-tab-menu{
                margin: 0 25px 30px;

                .tab-list{            
                    justify-content: center;
                    font-size: 0.75rem;
                }
            }
            .safety-tab-content{
                span{margin: 0 25px;}
                li{
                    margin: 90px auto;
                    width: 74%;
                }
            }
            .safety-content-right{
                margin: 25px 0 0 15px;
                strong{font-size: 1rem;}
                p{
                    margin-top: 5px;
                    font-size: 0.6rem;
                }
                span{
                    margin: 15px 0 0;
                    > br{display: none;}
                }
            }
            .safety-tab-content li:nth-of-type(2){
                .safety-content-right{
                    margin: 25px 15px 0 0;
                    text-align: right;
                }
            }
        }
    }
    
    //popup
    .popup{
        width: 80%; height: 50%;
        padding: 50px 25px;
        p{height: 65%;}
        .popup-cont{
            span{
                > br{display: none;}
            }
        }
    } 
    .record-popup-box1 .popup{
        width: 80%; height: 30%;
        padding: 50px 10px;
    }
}

@media (max-width: 305px){
    .food-safety-2{
        .safety-tab-menu{

            .tab-list{
                display: inline-block;
                li{margin: 5px;}
            }
        }
    }
}