// font-family: 'NanumGothicLight';
// font-family: 'NanumGothic';
// font-family: 'NanumGothicBold';
// font-family: 'NanumGothicExtraBold';

@import "./_common.scss";

:root{
    --color-gray-food: #575757;
}

body{
    width: 1920px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'NanumGothic';
}
main{margin: 120px 0 170px; line-height: 2;}
//좌우 여백 조정(full width contents 제외)
h2, h3, .tab-list, .food-safety-1,
.line{width: 1636px; margin: 0 auto;}
h2{
    font-size: 1.5rem; margin-bottom: 60px;
    font-family: 'NanumGothicBold';
}
h3{
    margin-bottom: 60px;
    font-size: 2rem;
    font-family: 'NanumGothicBold';
    > span{
        color: var(--color-green1);
    }
}
article{
    margin: 90px 0;
}
.line{
    padding: 90px 0 0;
    border-top: 1px solid var(--color-black);
}
// button
.button{
    font-family: 'money'; font-size: 1.1rem;
    color: var(--color-white);
    background-color: var(--color-green2);
    border: 3px solid var(--color-green2);
    border-radius: 85px;
    display: inline-block;
    padding: 35px 50px;
    transition: .5s;
}
.button:hover{
    background-color: var(--color-white);
    color: var(--color-green1);
}
// title
.main-title-img{
    width: 100%; height: 100%;
    img{width: 100%;};
} 
.main-title{
    margin: 50px 142px 90px;
    overflow: hidden;
    position: relative;
    text-align: left;
    font-family: 'money';
    font-size: 1.6rem;
    b{
        display: inline-block;
        background-color: var(--color-white);
        position: relative;
        z-index: 2;
        padding-right: 20px;
    }
}
.main-title::after{
    content: '';
    width: 100%;
    position: absolute;
    right: 0; top: 50%;
    border-bottom: 1px solid var(--color-black);
}
// tab
.tab-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'money';
    font-size: 1.1rem;
    line-height: 1;
    li{
        padding: 15px 40px;
        border-radius: 85px;
        border:1px solid #ddd;
        transition: .5s;
    }
}
.main-tab-menu .tab-list li:hover,
.main-tab-menu .tab-list li.active{    
    background-color: var(--color-green1);
    color: var(--color-white);
}

article{
    // 3-1. 바른먹거리 원칙
    .food-main{
        .food-main-bg{
            width: 100%;
            height: 770px;
            background: url('../img/food/food_main_01.jpg') no-repeat center center;
            position: relative;
            p{
                color: var(--color-white);
                font-size: 1.5rem;
                font-family: 'NanumGothicBold';
                padding-top: 80px;
                line-height: 180%;
            }
            span{
                display: inline-block;
                padding: 50px 100px;
                background-color: var(--color-white);
                position: absolute;
                left: 50%; bottom: 0;
                transform: translate(-50%, 0);
            }
        }
    }
    .food-rule{
        width: 1020px;
        padding: 60px;
        margin: 0 auto;
        background-color: var(--color-green3);
        border-radius: 46px;
        position: relative;
        > p{
            font-size: 1.3rem; font-weight: bold;
            font-family: 'money';
        }
        > span{
            font-size: 0.75rem;
            color: var(--color-gray-food);
            text-decoration: underline;
        }
        > div{
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            figure{
                background-color: var(--color-white);
                border-radius: 46px;
                width: 280px;
                height: 420px;
                padding: 50px 0;
                position: relative;

                > figcaption{font-family: 'money'}
                > figcaption p{font-size: 1.1rem; margin: 30px 0 15px;}
                > span{
                    font-size: 0.75rem;
                    color: var(--color-gray-food);
                }
            }
        }
        > b{
            font-family: 'money';
            font-size: 1.4rem; font-weight: bold;
            letter-spacing: 0.25rem;
            text-align: right;
            display: block;
            margin: 60px 100px 0;
        }
    }
    .food-record{
        span{font-size: 1.25rem; font-family: 'NanumGothicBold';}
        p{
            margin: 60px auto;
            img{width: 100%;}
        }
        div:nth-of-type(1){margin-bottom: 60px}
    }
    // Add Charactor imgs
    .food-rule::before{
        content: "";
        background: url('../img/food/food_char_01.png');
        width: 342px; height: 77px;
        position: absolute;
        left: 0; top: 0;
        transform: translate(20%, -90%);
    }
    .food-rule::after{
        content: "";
        background: url('../img/food/food_char_02.png');
        width: 232px; height: 216px;
        position: absolute;
        right: 0; bottom: 0;
        transform: translate(40%, 30%);
    }
    // hover
    .food-rule figure::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%; height: 100%;
        left: 0; top: 0;
        border-radius: 46px;
        background-color: rgba(#f9f9f9, 0.8);
        border: 5px solid var(--color-green1);
        opacity: 0; transition: .3s;
    }
    .food-rule figure::after{
        content: '더보기 →';
        display: block;
        position: absolute;
        right: 0; bottom: 0;
        transform: translate(-30%, -30%);
        font-family: 'money';
        font-size: 1.25rem;
        color: var(--color-green1);
        opacity: 0; transition: .3s;
    }
    .food-rule figure:hover::before,
    .food-rule figure:hover::after{
        opacity: 1;
    }

    // 3-2. 바른먹거리 캠페인
    .food-campaign{
        > p{
            margin: 0 auto 30px;
            width: 232px;
            > img{width: 100%;}
        }
        ul{
            background-color: var(--color-green3);
            background-image: url('../img/food/food_bg_02.svg');
            background-position: center center;
            padding: 120px 0;
            margin-top: 90px;
        }
        li{
            margin: 100px auto;
            padding: 60px;
            width: 1300px;
            display: flex;
            align-items: center;
            border-radius: 46px;
            background-color: var(--color-white);
            position: relative;
        }
    }
    .food-content-left{
        width: 60%; height: 100%;
            img{
                width: 100%; height: 100%;
                object-fit: cover;
                border-radius: 46px;
            }
    }
    .campaign-content-right{ 
        width: 55%;
        text-align: left;
        margin-left: 60px;
        font-family: 'NanumGothicBold';
        b{font-family: 'money'; font-size: 1.4rem;}
        p{
            font-family: 'money';
            margin: 10px 0 20px;
        }
        .name{
            text-align: right; vertical-align: top;
            padding-right: 15px;
        }
    }
    // hover
    .food-campaign li:nth-of-type(1)::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%; height: 100%;
        left: 0; top: 0;
        border-radius: 46px;
        background-color: rgba(#f9f9f9, 0.8);
        border: 5px solid var(--color-green1);
        opacity: 0; transition: .3s;
    }
    .food-campaign li:nth-of-type(1)::after{
        content: '신청하기 →';
        display: block;
        position: absolute;
        right: 0; bottom: 0;
        transform: translate(5%, 5%);
        font-family: 'money';
        font-size: 1.5rem;
        color: var(--color-green1);
        opacity: 0; transition: .3s;
    }
    .food-campaign li:nth-of-type(1):hover::before,
    .food-campaign li:nth-of-type(1):hover::after{
        opacity: 1;
    }

    // 3-3. 식품안전 및 품질정책
    .food-safety-1{
        .food-safety-figure{
            margin-top: 90px;
            display: flex;
            justify-content: center;
            column-gap: 50px;

            figcaption > p{
                font-size: 1.25rem;
                font-family: 'NanumGothicBold';
                margin: 25px 0;
            }
        }
    }
    .food-safety-2{
        .safety-tab-menu{
            margin: 90px;
            li{border-color: transparent;}
        }
        .safety-tab-content{
            li{
                margin: 150px auto;
                width: 1400px;
                display: flex;
                transition: .5s;
            }
        }
        .safety-content-right{
            width: 50%; height: 100%;
            text-align: left;
            margin: auto 0 auto 120px;
            strong{
                font-family: 'money'; font-size: 1.4rem;
            }
            p{
                font-family: 'money';
                margin-top: 5px;
            }
            span{
                margin-top: 20px;
                display: inline-block;
            }
        }
        // 2번째 리스트 좌우 변경
        .safety-tab-content li:nth-of-type(2){
            flex-direction: row-reverse;
            .safety-content-right{
                text-align: right;
                margin: auto 120px auto 0;
            }
        }
        // hover, onclick event
        .safety-tab-menu .tab-list li:hover,
        .safety-tab-menu .tab-list li.active{
            outline: 1px solid var(--color-green1);
            color: var(--color-green1);
        }
    }
}

//popup
.rule-popup-box1, .rule-popup-box2, .rule-popup-box3,
.record-popup-box1{
    width: 100%; height: 100vh;
    background-color: rgba(#000000, 0.6);
    position: fixed;
    top: 0; left: 0;
    z-index: 99999;
    display: none;
}
.rule-popup-box1.on, .rule-popup-box2.on, .rule-popup-box3.on,
.record-popup-box1.on{display: block;}
.popup{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    padding: 50px;
    text-align: left;
    background-color: var(--color-white);

    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    p > img{border-radius: 46px; width: 100%;}
    .popup-cont{
        width: 65%;
        margin-left: 50px;
        h4{font-size: 1.25rem; font-family: 'money';}
        span{
            display: block;
            margin: 30px 0;
        }
        p{
            margin: 15px 0;
            color: var(--color-green1);
        }
        .button{margin-top: 30px;}
    }
    .popup-close-btn{
        position: absolute;
        right: 0; top: 0;
        transform: translate(-80%, -10%);
        font-size: 3rem;
    }
}
.record-popup-box1 .popup{
    width: 1300px; height: 80%;
    overflow-y: scroll;
}




// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// ------1024px--------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// ------반응형 작업----------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------

@media (max-width:1024px){
    // tablet
    body{
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
        word-break: keep-all;
    }
    main{line-height: 135%;}
    //좌우 여백 조정(full width contents 제외)
    h2, h3, .tab-list, .food-safety-1, .line{
        width: auto; margin: 0 50px;
    }
    h2{
        font-size: 1rem; margin-bottom: 60px;
    }
    h3{
        margin-bottom: 60px;
        font-size: 1.75rem; line-height: 1.5;
    }
    // button
    .button{
        font-size: 0.8rem;
        border: 2px solid var(--color-green2);
        border-radius: 30px;
        padding: 20px 30px;
    }
    // title
    .main-title{
        margin: 30px 50px 90px;
        font-size: 1.2rem;
    }
    // tab
    .tab-list{
        font-size: 0.7rem;
        li{
            padding: 15px 25px;
            border-radius: 30px;
        }
    }
    
    article{
        // 3-1. 바른먹거리 원칙
        .food-main{
            .food-main-bg{
                height: auto;
                position: static;
                background-position: center bottom;
                p{
                    font-size: 0.9rem;
                    padding: 50px 0;
                }
                span{
                    width: 100%;
                    padding: 30px 60px 0;
                    position: static;
                    transform: translate(0, 0);
                }
            }
        }

        .food-rule{
            width: 70%;
            padding: 50px;
            border-radius: 30px;
            > p{font-size: 0.9rem; line-height: 25px;}
            > span{font-size: 0.5rem;}
            > div{
                display: block;
                margin-top: 0;
    
                figure{
                    border-radius: 30px;
                    width: 100%;
                    height: 30%;
                    padding: 40px 20px;
                    margin: 30px 0;
                    position: relative;
                    > p{
                        width: 100px; height: auto;
                        margin: 0 auto;
                        img{width: 100%;}
                    }
    
                    > figcaption{
                        p{font-size: 0.9rem; margin: 15px 0 0;}
                        span{
                            font-size: 0.75rem;
                            > br{display: none;}
                        }
                    } 
                    > span{font-size: 0.5rem;}
                }
            }
            > b{
                font-size: 0.9rem;
                letter-spacing: 0.15rem;
                text-align: center;
                margin: 0;
            }
        }
        .food-record{
            span{font-size: 0.85rem;}
            p{
                margin: 60px 0;
                width: 100%; height: auto;
                img{width: 100%;}
            }
            div:nth-of-type(1){margin-bottom: 45px}
        }
        // Add Charactor imgs
        .food-rule::before{
            background-size: cover;
            width: 239px; height: 54px;
        }
        .food-rule::after{
            background-size: cover;
            width: 162px; height: 151px;
        }
        // hover
        .food-rule figure::before{
            border-radius: 30px;
        }
        .food-rule figure::after{
            font-size: 1.2rem;
        }
        .food-rule figure:hover::before,
        .food-rule figure:hover::after{
            opacity: 1;
        }
    
        // 3-2. 바른먹거리 캠페인
        .food-campaign{
            > p{width: 162px}
            ul{
                width: 100%; height: auto;
                background-size: contain;
                padding: 60px 0;
                margin-top: 60px;
            }
            li{
                margin: 50px auto;
                padding: 40px;
                width: 80%;
                display: block;
                border-radius: 30px;
                position: relative;
            }
            
        }
        .food-content-left{
            width: 100%;
                img{border-radius: 30px;}
        }
        .campaign-content-right{
            width: 100%;
            margin-left: 0;
            margin-top: 25px;
            b{font-size: 1.2rem;}
            p{
                font-size: 0.8rem;
                margin: 15px 0;
            }
            .name{
                width: 25%;
                padding-right: 10px;
            }
        }
        // hover
        .food-campaign li:nth-of-type(1)::before{
            border-radius: 30px;
        }
        .food-campaign li:nth-of-type(1)::after{
            transform: translate(-30%, -30%);
            font-size: 1.2rem;
        }
        .food-campaign li:nth-of-type(1):hover::before,
        .food-campaign li:nth-of-type(1):hover::after{
            opacity: 1;
        }
    
        // 3-3. 식품안전 및 품질정책
        .food-safety-1{
            .food-safety-figure{
                margin-top: 60px;
                figure > p{
                    width: 130px;
                    margin: 0 auto;
                    img{width: 100%;}
                }
                figcaption > p{
                    font-size: 1rem;
                    font-family: 'NanumGothicBold';
                    margin: 15px 0;
                }
            }
        }
        .food-safety-2{
            .safety-tab-menu{
                margin: 0 0 60px;
            }
            .safety-tab-content{
                span{
                    display: inline-block; margin: 0 50px;
                }
                li{
                    margin: 120px auto;
                    width: 80%;
                    display: block;
                }
            }
            .safety-content-right{
                width: 90%;
                margin: 50px auto 30px 30px;
                strong{
                    font-size: 1.2rem;
                }
                p{
                    font-size: 0.8rem;
                    margin-top: 15px;
                }
                span{display: block; margin: 20px 0 0;}
            }
            .safety-tab-content li:nth-of-type(2){
                .safety-content-right{
                    margin: 50px 30px 30px auto;
                }
            }
        }
    }
    
    //popup
    .popup{
        width: 80%; height: 80%;
        overflow-y: scroll;
        display: block;
        padding: 60px 40px;
    
        p{
            width: 100%; height: 60%;
            > img{
                width: 100%; height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        } 
        .popup-cont{
            width: 100%; height: auto;
            margin-left: 0;
            margin-top: 25px;
            h4{font-size: 1rem;}
            span{
                display: block;
                margin: 20px 0;
                > br{display: none;}
            }
            p{
                margin: 15px 0;
                color: var(--color-green1);
            }
            .button{margin-top: 25px;}
        }
        .popup-close-btn{
            position: absolute;
            transform: translate(-70%, 0);
            font-size: 1.8rem;
        }
    }
    .record-popup-box1 .popup{
        width: 80%; height: 80%;
        p > img{height: auto;}
    }
}




















// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// ------mobile--------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// ------반응형 작업----------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------

@media (max-width:480px) {
    // mobile
    h3{
        font-size: 1.5rem;
    }
    // title
    .main-title{
        margin: 30px 50px;
        font-size: 1rem;
        b{
            padding-right: 0;
        }
    }
    .main-title::after{
        display: none;
    }
    // tab
    .tab-list{
        gap: 10px;
        font-size: 0.6rem;
    }
    
    article{
        // 3-1. 바른먹거리 원칙
        .food-rule{
            padding: 50px 25px;
            > div{
                figure{
                    > p{width: 75px;}
                    > figcaption{
                        p{margin: 15px 0 10px;}
                        span{font-size: 0.75rem}
                    } 
                }
            }
            > b{
                margin: 0 0 80px;
            }
        }
        .food-record{
            p{margin: 30px 0;}
        }
        // Add Charactor imgs
        .food-rule::before{
            width: 200px; height: 45px;
            transform: translate(18%, -90%);
        }
        .food-rule::after{
            transform: translate(15%, 15%);
        }
        // hover
        .food-rule figure::before{
            display: none;
        }
        .food-rule figure::after{
            display: none;
        }
        .food-rule figure:hover::before,
        .food-rule figure:hover::after{
            opacity: 0;
        }
    
        // 3-2. 바른먹거리 캠페인
        .food-campaign{
            > span{
                display: inline-block;
                margin: 0 50px;
            }
            ul{
                padding: 40px 0;
                margin-top: 40px;
            }
            li{
                padding: 25px;
            }
            
        }
        // hover
        .food-campaign li:nth-of-type(1)::before{
            display: none;
        }
        .food-campaign li:nth-of-type(1)::after{
            display: none;
        }
        .food-campaign li:nth-of-type(1):hover::before,
        .food-campaign li:nth-of-type(1):hover::after{
            opacity: 0;
        }
    
        // 3-3. 식품안전 및 품질정책
        .food-safety-1{
            > div > br{display: none;}
            .food-safety-figure{
                margin-top: 30px;
                display: block;
                
                figure{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 0;
                    > p{
                        width: 105px;
                    }
                    > figcaption{width: 60%;}
                }    
            }
            // 반응형 구분선 추가
            .food-safety-figure figure:nth-of-type(1),
            .food-safety-figure figure:nth-of-type(2){
                border-bottom: 1px solid var(--color-gray-food);
            }
        }
        .food-safety-2{
            .safety-tab-menu{
                margin: 0 0 30px;
            }
            .safety-tab-content{
                li{
                    margin: 90px auto;
                    width: 74%;
                }
            }
            .safety-content-right{
                margin: 25px 0 0 15px;
                strong{font-size: 1rem;}
                p{
                    margin-top: 5px;
                    font-size: 0.6rem;
                }
                span{
                    margin: 15px 0 0;
                    > br{display: none;}
                }
            }
            .safety-tab-content li:nth-of-type(2){
                .safety-content-right{
                    margin: 25px 15px 0 0;
                    text-align: right;
                }
            }
        }
    }
    
    //popup
    .popup{
        height: 55%;
        padding: 60px 30px;
        p{height: 65%;}
        .popup-cont{
            span{
                margin: 10px 0;
                > br{display: none;}
            }
        }
    }
    .record-popup-box1 .popup{
        width: 80%; height: auto;
        padding: 60px 30px 30px;
    }
}