@import "./common";


:root {
    --color-white: #F9F9F9;
    --color-gray: #F0F0F0;
    --color-black: #3C3C3C;
    --color-green1: #8CC63E;
    --color-green2: #B7D47F;
    --color-green3: #DCEFB7;
} 

body {
    background-color: var(--color-white);
}

// header

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 10;
}

// header [PC]

.header-wrap-pc {
    width: 85.2vw; // 1636px
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-logo>h1 {
    width: 150px;
}

.header-logo>h1>a>img {width: 100%;}

.header-nav {
    display: flex;
    align-items: baseline;
}

.navigation {
    display: flex;
}

.navigation>li>a {
    color: var(--color-black);
    font-family: 'money';
    font-weight: 500;
    padding: 0 25px;
    position: relative;
}

// header [MOBILE]

.header-wrap-mobile {
    display: none;
}