@import "_common";

:root {
    --color-white: #F9F9F9;
    --color-gray: #F0F0F0;
    --color-black: #3C3C3C;
    --color-green1: #8CC63E;
    --color-green2: #B7D47F;
    --color-green3: #DCEFB7;
} 
.main-title{
    margin: 50px 142px 90px;
    overflow: hidden;
    position: relative;

    font-family: 'money';
    font-size: 1.6rem;
    b{
        display: inline-block;
        background-color: white;
        position: relative;
        z-index: 2;
        padding-right:20px;
    }
}
.main-title::after{
    content: '';
    width: 100%;
    position: absolute;
    right: 0; top: 50%;
    border-bottom: 1px solid var(--color-black);
    }
// tab
.tab-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'money';
    font-size: 1.1rem;
    li{
        padding: 15px 40px;
        border-radius: 85px;
        border:1px solid #ddd;
        transition: .5s;
    }
}
.main-tab-menu .tab-list li:hover,
.main-tab-menu .tab-list li.active{    
    background-color: var(--color-green1);
    color: var(--color-white);
}

.sustainability{
    width: 1636px;
    margin: 0 auto;
}
.tab-head{
    text-align: center;
}
.tab-body{
    h2{
        text-align: center;
        font-size: 50px;
        padding-top: 90px;
        letter-spacing: -2px;
    }
    span{color: #8DC63F;}

    .sb-01{text-align: center;
        padding-top: 30px;
            padding-bottom: 60px;
        b{font-size: 30px; color: #8DC63F;
            line-height: 5;

        }
        p{
            font-size: 20px;
            line-height: 1.6;
            span{
                font-size: 25px; 
            }
        }
    }
}
.tab-con-01{
    
    ul{font-size: 20px;
        li{
            display: flex;
            align-items: center;
            padding: 40px 70px;
            background-color: #F8F8F8;
            width: 1140px;
            margin: 10px auto;
            b{width: 20%;}
            div{
                p{
                    display: flex;
                    &::before{
                        content: "";
                        width:7px;height:7px;
                        background-color: black;
                        border-radius: 100%;
                        margin:10px 10px 0 0;
                    }
                }
            }
        }
            .bc{background-color: #f0f0f0;}
        .bc-1{background-color: #f0f0f0;}
    }
}
    

//tab-con-02
.tab-con-02{
    .pic{
        width:100%;
        padding:70px;
        background-color: #F9F9F9;
        text-align: center;
        border-radius: 46px;
    }
    .esg{
        li{
            display: flex;
            justify-content: space-between;
            margin-bottom:100px;
            > figure{
                width:47%;
                img{width:100%}
            }

            .info {
                width:47%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                div{
                    display: flex;
                    gap:30px;
                    align-items: center;
                    margin:10px 0px;


                    strong{
                        display: block;
                        margin-bottom:20px;
                    }
                }
            }
        }
        li:nth-of-type(2n){
            flex-direction: row-reverse;
        }
        border-bottom: 1px solid #ddd
}

.sb-03{
    padding-top: 120px;
    text-align: center;

    b{
        font-size: 30px;
        color: var(--color-green1);
    }
    p{
        font-size: 20px;
        padding: 40px 0 60px;
    }
    figure{
        width:100%;
        padding:150px 70px;
        background-color: #F9F9F9;
        text-align: center;
        border-radius: 46px;
        img{border-radius: 46px;}
    }
}
}

//tab-con-03
.tab-con-03{
    
.susang{
    li{width: 1320px;
        margin: 0 auto;

    .info-2{
        display: flex;
        gap: 150px;

        align-items: center;
        strong{
            font-size: 25px;
            display: block;
        }
    }
    .info-3{
        display: flex;
        flex-direction: row-reverse;
        gap: 150px;
        align-items: center;
        strong{
            font-size: 25px;
            display: block;
        }
    }
    .info-4{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 150px;
        strong{
            font-size: 25px;
            display: block;
        }
    }
        p{font-size: 30px;
        }
}
}
}
